<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Money</title>
</head>
<body>
    <h1>Transfer Money</h1>

    <p>Account Number: <input type="number" readonly value="{{ account.account_number }}"></p>
    <p>Balance: <input  id="rest_debit" type="number" readonly value="{{ account.rest_debit }}"></p>

    <form id="transfer-form" method="POST" action="/accounts/{{ account.id }}/transfer">
        <p>Select the account to transfer money to:</p>
        <select id="account_to" name="account_to">
            {% for account in accounts %}
                {% if not account.is_blocked %}
                    <option value="{{ account.account_number }}">{{ account.account_number }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <p>Enter transfer amount:</p>
        <input id="amount" type="number" name="amount" placeholder="Amount">

        <button type="submit">Transfer</button>

        <p id="error_message"></p>
    </form>
    <a href="/accounts/{{ account.id }}">Back to Account</a>
    <script>
        window.addEventListener('load', () => {
            const transferForm = document.getElementById('transfer-form');
            const errorMessage = document.getElementById('error_message');

            transferForm.addEventListener('submit', (e) => {
                e.preventDefault();

                const accountTo = document.getElementById('account_to').value;
                const amount = parseInt(document.getElementById('amount').value);
                const restDebit = parseInt(document.getElementById('rest_debit').value);
                console.log(restDebit)
                if (!isNaN(restDebit)) {
                    if (isNaN(amount) || amount < 0) {
                        alert('Enter a valid number.');
                        return;
                    }

                    if (amount > restDebit) {
                        alert('Not enough funds to transfer.');
                        return;
                    }

                    transferForm.submit();
                } else {
                    alert('Invalid rest_debit value.');
                    return;
                }
            });
        });
</script>
</body>
</html>
